@import './_variables';
@import './_colors';

:export {
  white: $bs-white;
  mapfilterHeight: $mapfilter-height;
  footerHeight: $footer-height;
  headerHeight: $header-height;

  primaryColor: $primary-color;
  primaryColorRgb: $primary-color-rgb;
  primaryLightColor: $primary-light-color;
  primaryLightColorRgb: $primary-light-color-rgb;
  secondaryVariantColor: $secondary-variant-color;
  secondaryVariantColorRgb: $secondary-variant-color-rgb;
  lightVariantColor: $light-variant-color;
  darkVariantColor: $dark-variant-color;
  textColor: $text-color;
  accentColor: $accent-color;
  lightAccentColor: $light-accent-color;
  dangerColor: $danger-color;
  lightDangerColor: $light-danger-color;
  iconLightColor: $icon-light-color;
  activeColor: $active-color;
  completedColor: $completed-color;
  filterBackgroundColor: $filter-background-color;
  slideOutBlue: $slide-out-blue;
  selectedColor: $selected-color;

  btnDisabledBackgroundColor: $btn-disabled-background-color;
  inputDisabledBackgroundColor: $input-disabled-background-color;

  formBackgroundColor: $form-background-color;
  inputBackgroundColor: $input-background-color;
  dropdownBackgroundColor: $dropdown-background-color;

  tableColor: $table-color;
  tableHeaderColor: $table-header-color;
  tableRowColor: $table-row-color;
  tableRowNColor: $table-row-n-color;
  tableRowHoverColor: $table-row-hover-color;
  tableRowActiveColor: $table-row-active-color;

  primary: $bs-primary;
  secondary: $bs-secondary;
  success: $bs-success;
  info: $bs-info;
  warning: $bs-warning;
  danger: $bs-danger;
  light: $bs-light;
  dark: $bs-dark;

  primaryRgb: $bs-primary-rgb;
  secondaryRgb: $bs-secondary-rgb;
  successRgb: $bs-success-rgb;
  infoRgb: $bs-info-rgb;
  warningRgb: $bs-warning-rgb;
  dangerRgb: $bs-danger-rgb;
  lightRgb: $bs-light-rgb;
  darkRgb: $bs-dark-rgb;
  whiteRgb: $bs-white-rgb;
  blackRgb: $bs-black-rgb;
  textOpacity: $bs-text-opacity;
}
